.Mehero{
    background: var(--background, #282C33);
    padding-top: 155px;
}
.Mehero h1{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
}
.Mehero h1 span{
    color: var(--primary, #C778DD);
     font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}


.MeHero__content h2{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.MeHero__content p{
    width: 515px;
    color: var(--gray, #ABB2BF);
    font-size: 16px;
    font-style: normal;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
.MeHero__wrapper{
  margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

@media(max-width:920px){
    .MeHero__content p{
      width: 320px;
    }
  }
  @media(max-width:750px){
    .MeHero__content p{
      width: 620px;
    }
    .MeHero__wrapper{
      flex-direction: column;
    }
  }
  @media(max-width:640px){
    .MeHero__content p{
      width: auto;
    }
    .MeHero__wrapper{
      flex-direction: column;
    }
    .me__img1{
      height: 360px;
    }
  }
  @media(max-width:430px){
    .me__line{
      width: 100px;
    }
    .MeHero__content{
      flex-direction: column;
    }
    .me__img{
      display: none;
    }
    .MeHero__content{
      text-align: center;
    }
  }

  